[submodule "pocillo"]
	path = pocillo
	url = https://github.com/ubuntubudgie/pocillo
[submodule "qogir-theme"]
	path = qogir-theme
	url = https://github.com/ubuntubudgie/qogir-theme
[submodule "pocillo-theme"]
	path = pocillo-theme
	url = https://github.com/ubuntubudgie/pocillo-gtk-theme
[submodule "slickSDDM"]
	path = slickSDDM
	url = https://github.com/ubuntubudgie/slickSDDM
