[submodule "pocillo"]
	path = pocillo
	url = https://github.com/ubuntubudgie/pocillo
[submodule "pocillo-theme"]
	path = pocillo-theme
	url = https://github.com/ubuntubudgie/pocillo-gtk-theme
[submodule "qogir-theme"]
	path = qogir-theme
	url = https://github.com/ubuntubudgie/qogir-theme
[submodule "tela-icon-theme"]
	path = tela-icon-theme
	url = https://github.com/ubuntubudgie/tela-icon-theme
