[Desktop Entry]
Version=1.0
Type=Application
Name=Plank Preferences
GenericName=Dock
Comment=Stupidly simple.
Icon=plank
Exec=plank --preferences
NoDisplay=false
OnlyShowIn=Budgie;
Categories=DesktopSettings;Utility;
StartupNotify=false
Terminal=false
